/*base*/
body{
	background: #212121;
}
.bck1{background: rgba(255, 255, 255, 0.822);}

body a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #3F51B5!important;
}

/* th {
	color: #3F51B5;
} */

h3 {
	color:#283593;
}

body a{
	text-decoration: none;
	color: #3F51B5!important;
}

/*generique*/
.padded{padding: 15px;}

/*header*/
header#header {margin-bottom: 20px;padding: 10px;background-color: #202020;}
header#header h1 {text-align: center;color: #283593;}

/*footer*/
footer#footer{
	/* margin-top: 20px;
	padding: 10px; */
	/* position: absolute;
	bottom: 0; */
	display: none;
}

.main{
	height : 100%;
	padding-bottom: 3%;
}


.btn-save {
	float: right;
}

.btn-connect {
	bottom: 0;
	margin-top: 30px;
}
/* .btn-back {} */

tbody tr:hover {
	background-color: #ebeff2;
}