{% extends 'base.html.twig' %}

{% block title %}Modifier la publication{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}">retour à la liste</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}