{% extends 'base.html.twig' %}

{% block title %}AssurAimant | Les publications{% endblock %}

{% block body %}
    <h3>Mes posts</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content|length > 15 ? post.content|slice(0, 15) ~ '...' : post.content }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}"><i class="fa fa-info-circle green"></i> Détails</a><br>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('post_edit', {'id': post.id}) }}"><i class="fa fa-edit green"></i> Modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('post_new') }}"><button class="btn btn-success btn-save">New post</button></a>
    {% endif %}
{% endblock %}