{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Créer un nouveau Post</h1>

    <hr>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('connected_homepage') }}"><button class="btn btn-default btn-back">Retrouner à la liste</button></a>
{% endblock %}