{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
	<h1>Post</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ post.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ post.title }}</td>
			</tr>
			<tr>
				<th>Contenu</th>
				<td>{{ post.content|raw }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
		<a href="{{path('connected_homepage')}}"><button class="btn btn-default btn-back">Back</button></a>

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
	{{ include('post/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}